<section>
  <div class="container">
    <div class="row aling-items-center mt-5">
      <div class="col-lg-4">
        <blockquote class="blockquote mb-3">
          <p class="lead">Favorite People, Favorite Places,<br/>
                          Favorite Memories of the past ...<br/>
                          These are the joys of a lifetime<br/>
                          Those are the things that last</p>
          <footer class="blockquote-footer">Henry Van Dyke</cite></footer>
        </blockquote>
          Favorite Places Application gives you the ability to save your memories and share them with other people.<br/>
          <span class="text-center">
            <%= link_to "Signup for Free", new_user_registration_path, class: "btn btn-primary mt-3 mb-3" %>
          <span>
      </div>
      <div class="col-lg-8">
        <%= image_tag("main_page.png", alt: "Map") %>
      </div>
    </div>
  </div>
</section>